<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/kickstart.js"></script>
    <script src="/static/js/comment.js"></script>
    {% block script %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/mine.css"/>
    <link rel="stylesheet" href="/static/css/kickstart.css" media="all" />
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Cuisingo </title>
</head>
<body>
    {% block menu %}
    {% endblock %}
    {% block content %}
    {% endblock %}

</body>
</html>
