{% extends "base.html" %}
{% block script %}
<script src="/static/js/post.js"></script>
{% endblock %}
{% block title %}Edit Post{% endblock %}
{% block menu %}
    <ul class="menu">
       {% if user %}
        <li id="home"><a href="/">Home</a></li>
        <li id="post" class="current"><a href="/post/new">Post</a></li>
        <li id="logout"><a href="/sessions/delete">Log Out</a></li>
        <li id="user">Hi, <a id="username_menu">{{ user }}</a></li>
    {% else %}
        <li id="home" class="current"><a href="/">Home</a></li>
        <li id="signin"><a href="/sessions/new">Log In</a></li>
    {% endif %}
    </ul>
{% endblock %}
{% block content %}
    <div>
        <form method="post" action="/post/{{ info.id }}" id="edit_form">
            <h1>Edit Post</h1>
            <div class="box">
                <label for="title">Title: </label>
                <input type="text" id="title" name="title" value="{{ info.title }}">
            </div>


            <div class="box"><label for="content">Content: </label></div>
            <div class="box"><textarea id="content" name="content">{{ info.content }}</textarea></div>

            <button class="purple" type="submit" id="post_post" disabled="disabled">Submit</button>
        </form>
        <form id="delete_form" method="post" action="/post/{{ info.id }}/delete">
            <button class="purple" type="submit" id="delete_button_post" >Delete post</button>
        </form>
    </div>
{% endblock %}