{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block menu %}
    <ul class="menu">
    {% if user %}
        <li id="home" ><a href="/">Home</a></li>
        <li id="logout"><a href="/sessions/delete">Log Out</a></li>
        <li id="user">Hi, {{ user }}</li>
    {% else %}
        <li id="home" class="current" ><a href="/">Home</a></li>
        <li id="signin"><a href="/sessions/new">Log In/Sign up</a></li>
    {% endif %}
    </ul>
{% endblock %}
{% block content %}
    <div>
    {% if list %}
    {% for post in list %}
        <div class="list_of_post">
        <p class="author">
            author: <span>{{ post.author }}</span>
        </p>
        <p>
            title: <span><a href="/post/{{ post.id }}">{{ post.title }}</a></span>
        </p>
        <a href="/post/{{ post.id }}" class="author">See more</a>
        <p>
            content:
            <span>{{ post.content }}</span>
        </p>
        </div>
    {% endfor %}
    {% else %}
       <p>no posts, login to make a post!</p>
    {% endif %}
    </div>
{% endblock %}
