{% extends "base.html" %}
{% block script %}
<script src="/static/js/login.js"></script>
{% endblock %}
{% block title %}log in{% endblock %}
{% block menu %}
    <ul class="menu">
        <li id="home"><a href="/">Home</a></li>
        <li id="signin" class="current"><a href="/sessions/new">Log In</a></li>
    </ul>
{% endblock %}
{% block content %}
    <div>
        <form id="login_form" method="post" action="/sessions">
            <h1>Log in</h1>
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" value="{{ username }}"/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>



            <div><a href="/chef/new">Chef</a></div>
            <div><a href="/driver/new">Driver</a></div>
            <div><a class= "button" href="/customer/new">Customer</a></div>



            <button class='red' id="login_button" type="submit" disabled="disabled">log in</button>
            {% if error %}
            <div class="notice error" id="error"><i class="icon-remove-sign icon-large"></i>
            username or password is incorrect, try again.<a href="#close" class="icon-remove"></a></div>
            {% endif %}
        </form>
    </div>
{% endblock %}
