{% extends "base.html" %}
{% block script %}
<script src="/static/js/signup.js"></script>
{% endblock %}
{% block title %}Sign up{% endblock %}
{% block menu %}
    <ul class="menu">
        <li id="home"><a href="/">Home</a></li>
        <li id="signin" class="current"><a href="/sessions/new">Log In/Sign up</a></li>
    </ul>
{% endblock %}
{% block content %}
    <div>
        <form id="signup_form" method="post" action="/user">
            <h1>Sign up</h1>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{username}}"/>

            <label for="password">Password:</label>
            <input type="password"  id="password" name="password" class="password"/>

            <label for="password2" id="label_password2">Repeat Password:</label>
            <input type="password" id="password2" name="password2" class="password"/>

            <button class="button" id="signup" type="submit" disabled="disabled">Sign up</button>

            {% if error == True %}
            <div class="notice error" id="username_exist"><i class="icon-remove-sign icon-large"></i>
            username already exists, try again.<a href="#close" class="icon-remove"></a></div>
            {% endif %}

            <div class="notice error" id="passwords_match" hidden><i class="icon-remove-sign icon-large"></i>
            passwords must match, try again.</div>
        </form>
    </div>
{% endblock %}
